.app_dark_theme {
    --bg-color: #06065e;
    --inverted-bg-color: #cecece;

    --primary-color: #14ec14;
    --secondary-color: #0a8b0a;

    --inv-primary-color: #3c32ff;
    --inv-secondary-color: #0c007a;
}
