.app.light {
    --bg-color: #cecece;
    --inverted-bg-color: #06065e;

    --primary-color: #3c32ff;
    --secondary-color: #0c007a;

    --inv-primary-color: #12e612;
    --inv-secondary-color: #0a8b0a;
}
